@import "./nav";
@import "./hero";
@import "./main-container";
@import "../scss/care";
@import "../scss/project";
@import "../scss/acheivement";
@import "../scss/discuss";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
    list-style-type: none;
}